# Database
POSTGRESQL_URL="postgresql+psycopg2://username:password@host:port/database"

# Hardware (Raspberry Pi Pico 2 W)
PICO_IP=http://192.168.1.50
PICO_SECRET="Choose a strong token"

# Weather
WEATHER_APIKEY="Get one from weatherapi.com"